In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import seaborn as sb
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

In [2]:
data = pd.read_csv("C:/Users/Admin/Desktop/PYTHON/Stage 1/FoodBalanceSheets_E_Africa_NOFLAG.csv ",encoding='latin-1')

In [3]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

# Question 11
What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [4]:
ans = data.groupby(['Item']).sum()
ans.loc['Animal fats']

Area Code         85279.00
Item Code       1882494.00
Element Code    2567303.00
Y2014            209460.54
Y2015            200675.72
Y2016            183314.22
Y2017            269617.53
Y2018            269648.27
Name: Animal fats, dtype: float64

# Question 12
What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [5]:
round(data.describe(),3)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000,60943.000,60943.000,59354.000,59395.000,59408.000,59437.000,59507.000
mean,134.266,2687.177,3814.856,134.196,135.236,136.555,140.918,143.758
std,72.606,146.056,2212.007,1567.664,1603.404,1640.007,1671.862,1710.783
min,4.000,2501.000,511.000,-1796.000,-3161.000,-3225.000,-1582.000,-3396.000
25%,74.000,2562.000,684.000,0.000,0.000,0.000,0.000,0.000
50%,136.000,2630.000,5142.000,0.090,0.080,0.080,0.100,0.070
75%,195.000,2775.000,5511.000,8.340,8.460,8.430,9.000,9.000
max,276.000,2961.000,5911.000,176405.000,181137.000,185960.000,190873.000,195875.000

# Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [6]:
data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [7]:
round(data.isnull().mean() * 100,2)

Area Code       0.00
Area            0.00
Item Code       0.00
Item            0.00
Element Code    0.00
Element         0.00
Unit            0.00
Y2014           2.61
Y2015           2.54
Y2016           2.52
Y2017           2.47
Y2018           2.36
dtype: float64

# Question 14
Which year had the highest correlation with ‘Element Code’?

In [8]:
data.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

# Question 15
What year has the highest sum of Import Quantity

In [9]:
ans = data.groupby(['Element'], as_index = False).sum()
ans.iloc[7,3:]

Element Code     28834929
Y2014           274144.48
Y2015           267018.46
Y2016           286582.78
Y2017           294559.09
Y2018           287997.09
Name: 7, dtype: object

# Question 16
What is the total number of the sum of Production in 2014?

In [10]:
 ans = data.groupby(['Element'], as_index = False).sum()
 ans.iloc[11,3:]

Element Code      21388191
Y2014           1931287.75
Y2015           1947019.39
Y2016           1943537.15
Y2017           2030056.89
Y2018           2075072.89
Name: 11, dtype: object

# Question 17 
Which of these elements had the highest sum in 2018?

In [11]:
ans = data.groupby(["Element"]).sum()
ans['Y2018'].sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

# Question 18 
Which of these elements had the 3rd lowest sum in 2018?

In [12]:
ans = data.groupby(["Element"]).sum()
ans['Y2018'].sort_values(ascending=True)

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

# Question 19
What is the total Import Quantity in Algeria in 2018?

In [13]:
ans = data[data['Area'] == 'Algeria'].groupby('Element').sum()
ans['Y2018']

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

# Question 20
What is the total number of unique countries in the dataset?

In [14]:
ans = set(data['Area'])
len(ans)

49